.node-inspector pre {
  white-space: pre-line;
}

.node-inspector th {
  text-align: left;
}

details {
  border: 2px solid gray;
  background: #eee;
  padding: 0 15px;
  margin: 5px 0;
}

details.level-0 {
  margin: 10px;
}

details.level-0 details {
  margin-bottom: 10px;
}

.details-wrapper {
  padding: 0 0 10px;
}

details p {
  margin-bottom: 10px;
}

summary {
  cursor: pointer;
  margin: 5px 0;
}

summary > * {
  display: inline;
}

table {
  width: 100%;
  text-align: left;
}

table tr:nth-child(even) {
  background: #dadada;
}

table thead {
  background: #cfcfcf;
  background: -moz-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #cfcfcf 100%);
  background: -webkit-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #cfcfcf 100%);
  background: linear-gradient(to bottom, #dbdbdb 0%, #d3d3d3 66%, #cfcfcf 100%);
  border-bottom: 3px solid #000000;
}

table thead th {
  font-weight: bold;
  text-align: left;
}
