<div class="node-inspector node-inspector-component">

  <pre>
    {{ 'Type' | t }}: {{ properties.blockType }}
    {{ 'ID' | t }}: {{ properties.id }}
    {{ 'Label' | t }}: {{ properties.label }}
    {{ 'Component uuid' | t }}: {{ properties.componentUuid }}
    {% if properties.blockType == 'Inline' %}
    {{ 'Reusable' | t }}: {{ properties.isReusable }}
    {{ 'Block ID' | t }}: {{ properties.blockId }}
    {{ 'Block revision ID' | t }}: {{ properties.blockRevisionId }}
    {% endif %}
  </pre>

</div>