<div class="node-inspector node-inspector-node">

  <pre>
    {{ 'Title' | t }}: {{ properties.title }}
    {{ 'Bundle' | t }}: {{ properties.bundle }}
    {{ 'Node ID' | t }}: {{ properties.nodeId }}
    {{ 'Revision ID' | t }}: <a href="#revision-{{ properties.revisionId }}">{{ properties.revisionId }}</a>
    {{ 'Published' | t }}: {{ properties.isPublished }}
    {{ 'Default revision' | t }}: {{ properties.isDefaultRevision }}
    {{ 'Latest revision' | t }}: {{ properties.isLatestRevision }}
    {{ 'Last changed' | t }}: {{ properties.changedTime | date("Y/m/d G:i:s") }}
    {{ 'Owner account name' | t }}: {{ properties.ownerAccountName }}
  </pre>

  <details>
    <summary>{{ 'Field definitions' | t }}</summary>
    <pre>
    <table>
      <thead>
        <tr>
          <th>{{ 'Name' | t }}</th>
          <th>{{ 'Type' | t }}</th>
          <th>{{ 'Required' | t }}</th>
          <th>{{ 'Translatable' | t }}</th>
          <th>{{ 'Revisionable' | t }}</th>
          <th>{{ 'Computed' | t }}</th>
          <th>{{ 'Max Length' | t }}</th>
        </tr>
      </thead>
      <tbody>
        {% for field in properties.fields %}
          <tr>
            <td>{{ field.name }}</td>
            <td>{{ field.type }}</td>
            <td>{{ field.required }}</td>
            <td>{{ field.translatable }}</td>
            <td>{{ field.revisionable }}</td>
            <td>{{ field.computed }}</td>
            <td>{{ field.maxLength }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    </pre>
  </details>

</div>
