<div class="node-inspector node-inspector-revision">

  <pre>
  {{ 'Title' | t }}: {{ properties.title }}
  {{ 'Revision ID' | t }}: {{ properties.revisionId }}
  {{ 'Published' | t }}: {{ properties.isPublished }}
  {{ 'Default revision' | t }}: {{ properties.isDefaultRevision }}
  {{ 'Latest revision' | t }}: {{ properties.isLatestRevision }}
  {{ 'Last changed' | t }}: {{ properties.changedTime | date("Y/m/d G:i:s") }}
  {{ 'Revision account name' | t }}: {{ properties.revisionAccountName }}
  </pre>

</div>